<%= form_for([@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body">
    <div class="form-group row">
    <%= f.label :name, "Name", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name" %>
    </div>
    <%= f.label :name, "Description", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_area :description, class: "form-control shadow rounded", placeholder: "Enter a description" %>
    </div>
    <%= f.label :status, "Status", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.select :status, Task::STATUS_OPTIONS, {}, class: 'form-control' %>
    </div>
    
  </div>
  <div class="form-group row justify-content-center">
    <%= f.submit class: "btn btn-outline-success btn-lg" %>
  </div>
<% end %>


  
